openai
langchain
langchain_community
langchain_openai
langchain_experimental
langchainhub
pinecone-client
python-dotenv
tiktoken
docx2txt
pypdf
requests
numpy
pandas
bs4
chromadb==0.3.29
unstructured
openpyxl
networkx
